@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: auto;
}

header{
    background-color: black;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}

header img{
    width: 20%;
}

header a{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 300;
    padding: 30px;
    float: right;
}

header a:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
}

main {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 40px;
    margin-bottom: 160px;
    margin-left: 160px;
    margin-right: 20px;
    width: 80%;
    line-height: 34px
}

main h1{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
}

main h2{
    font-size: 30px;
    font-weight: 400;
}

main p{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
}

main a{
    color: rgb(255, 121, 0);
    font-weight: bold;
    padding: 12px;
    line-height: 60px;
}

main a:hover{
    background-color: rgb(236, 236, 236);
    padding: 12px;
    border-radius: 20px;
}

aside{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 60px;
    margin-bottom: 160px;
    margin-left: 20px;
    margin-right: 160px;
    width: 70%;
}

aside img{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
}

aside h1{
    font-size: 40px;
    font-weight: 400;
}

aside h2{
    font-size: 30px;
    font-weight: 400;
}

aside p{
    margin-left: 40px;
    margin-right: 40px;
}

aside a{
    color: rgb(255, 121, 0);
    font-weight: bold;
    padding: 12px;
    font-size: 24px;
    line-height: 40px;
}

footer{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    padding-bottom: 100px;
    line-height: 28px;
}

footer img{
    width: 100%;
    height: 66%px;
}

footer h1{
    font-size: 40px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
}

footer p{
    padding-left: 120px;
    padding-right: 120px;
}

span{
    font-weight: bold;
}